.video-settings-form .form-row-label{width:110px}.video-settings-form .form-row-controls{margin-left:115px}.video-publish-form-container{padding:30px 0;text-align:center}.video-publish-form-message{font-size:18px;margin-bottom:40px}.video-publish-form{margin:20px 0}.video-publish-form label{font-weight:bold;font-size:13px;margin-right:10px}#error_alert{background-color:#d74712;color:#fff;padding:10px}.lectora{color:#666;font-weight:bold}.lectora_buttons .blue{color:#0cc;font-weight:bold;cursor:pointer}.video-actions-locked.alert .portrait{display:inline-block}
/*
     FILE ARCHIVED ON 23:52:24 Apr 21, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:24:45 Mar 27, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 246.845
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.082
  RedisCDXSource: 18.459
  esindex: 0.008
  LoadShardBlock: 208.789 (3)
  PetaboxLoader3.datanode: 195.459 (4)
  CDXLines.iter: 17.314 (3)
  load_resource: 136.456
  PetaboxLoader3.resolve: 82.644
*/