.star-rating{list-style:none;margin:0;padding:0;width:90px;height:18px;position:relative;background:url(/web/20110503000813im_/http://goanimate.com/static/go/img/v2/star_rating.gif) top left repeat-x;border:0;}.star-rating li{padding:0;margin:0;/*\*/ float:left;/* */;}.star-rating li a{display:block;width:18px;height:18px;text-decoration:none;text-indent:-9000px;z-index:20;position:absolute;padding:0;}.star-rating li a:hover{background:url(/web/20110503000813im_/http://goanimate.com/static/go/img/v2/star_rating.gif) left center;z-index:2;left:0;border:none;}.star-rating a.one-star{-moz-outline:none;left:0;}.star-rating a.one-star:hover{width:18px;}.star-rating a.two-stars{-moz-outline:none;left:18px;}.star-rating a.two-stars:hover{width:36px;}.star-rating a.three-stars{-moz-outline:none;left:36px;}.star-rating a.three-stars:hover{width:54px;}.star-rating a.four-stars{-moz-outline:none;left:54px;}.star-rating a.four-stars:hover{width:72px;}.star-rating a.five-stars{-moz-outline:none;left:72px;}.star-rating a.five-stars:hover{width:90px;}.star-rating li.current-rating{background:url(/web/20110503000813im_/http://goanimate.com/static/go/img/v2/star_rating.gif) left bottom;position:absolute;height:18px;display:block;text-indent:-9000px;z-index:1;}.star-rating-s{list-style:none;margin:0;padding:0;width:80px;height:16px;position:relative;background:url(/web/20110503000813im_/http://goanimate.com/static/go/img/v2/star_rating_s.gif) top left repeat-x;border:0;}.star-rating-s li{padding:0;margin:0;/*\*/ float:left;/* */;}.star-rating-s li.current-rating{background:url(/web/20110503000813im_/http://goanimate.com/static/go/img/v2/star_rating_s.gif) left bottom;position:absolute;height:16px;display:block;text-indent:-9000px;z-index:1;}
/*
     FILE ARCHIVED ON 00:08:13 May 03, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:57:11 Jul 03, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 263.582
  exclusion.robots: 0.153
  exclusion.robots.policy: 0.144
  RedisCDXSource: 0.712
  esindex: 0.008
  LoadShardBlock: 239.85 (3)
  PetaboxLoader3.resolve: 198.325 (3)
  PetaboxLoader3.datanode: 129.885 (4)
  CDXLines.iter: 20.165 (3)
  load_resource: 104.975
*/